
.questionSetter {
    max-height: 80vh;
    overflow-y: scroll;
}

#qid_col {
    max-height: 45vh;
    overflow-y: scroll;
    max-width: 30vw;
    overflow-x: inherit;
}

.button-danger{
    background:#F44336;
    color:white;
}
.button-info{
	    background:#1976d2;
    color:white;
}
.question_select_box {
    padding: 5%;
    margin: 0%;
    border: 1px solid;
    background:#1976d2;
    color:white;
    font-size: large;
}

.question_select_box_show_na{
    padding: 3%;
    margin-left: 3%;
    border: 1px solid;
    background: #1976d2;
    font-size: large;
    color:white;
}
.question_select_box_show_a{
    padding: 3%;
    margin-left: 3%;
    border: 1px solid;
    background: rgb(27, 160, 49);
    font-size: large;
    color:white;
}
.question_select_box:hover,
.question_on_selected {
    background: rgb(4, 179, 27);
    color: white;
}

.countdown-timer {
    width: 15vw;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: 3%;
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Inconsolata', monospace;
}

#testarea{
    font-family: monospace;
    font-weight: bolder;
    font-size: 25px;
}