<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Access Denied</title>
<th:block th:include="/includes/_library_files"></th:block>
</head>
 <style>
 body {
        
    }
 </style>
<body>

<nav class="navbar toolbar btn-primary">
            <div class="navbar-header">
      			<span class="navbar-brand mb-0 h1" href="#">CDK Test</span>
    		    </div>
            <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="btn btn-info"  th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout <i class="fa fa-sign-out"></i>

            </a>

        </nav>
   <div class="container card shadow-lg" style="padding:3%;margin-top:3%;">
   <div class="text-center display-5 font-weight-bolder">
   CDK Test
   </div>
   <br/>
   <div class="alert alert-primary">
   You Scored 
   <b><span th:utext="${score}"></span></b>
   Mark(s) in the test.
   </div>
   
   <div class="alert alert-secondary">
   We will let you know if you can proceed for further process via email(s).
   <br/>
   Thank You
   </div>
     <div class="row">
     	<a class="btn btn-success" th:href="@{candidate}" style="margin-left:65vw;">Go To Home Page</a>
   </form>
     </div>
</body>
 
</html> 